body{
    margin: 0;
    font-family: "inria Serif", serif;
    padding-top: 94px;
}
header{
    background-color:#f28ddc;
    display: flex;
    flex-direction: column;
}
#header{
    display: flex;
}
#mahallah{
    flex: 1;
    order: 1;
    text-align: center;
    padding: 80px;
    font-family: "inria Serif", serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
}
#asma{
    flex: 1;
    order: 3;
    text-align: center;
    padding: 80px;
    font-family: "inria Serif", serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
}
#logo{
    display: block;
   /* margin-left: auto;
    margin-right: auto;*/
    /*flex: 1;*/
    margin-top: 30px;
    order: 2;
}
#motto{
    text-align: center;
    font-family: "inria Serif", serif;
    font-size: 30px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
}
.about{
    background-color: #ffe6f2;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
    margin-top: 50px;
    font-size: 20px;
}
#aboutus{
    margin-top: 0;
}
.flip1 {
    background-color: transparent;
    width: 400px;
    height: 300px;
   /* border: 4px solid black;*/
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
  }
  
  /* This container is needed to position the front and back side */
  .flip-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip1:hover .flip-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-front, .flip-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-front {
    background-color: #bbb;
    color: black;
    cursor: pointer;
  }
  
  /* Style the back side */
  .flip-back {
    background-color: #ffe6f2;
    color: white;
    transform: rotateY(180deg);
    font-family: "inria Serif", serif;
    font-size: 13px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    line-break: 5px;
  }

  .flip2 {
  background-color: transparent;
  width: 400px;
  height: 400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
  margin-left: auto;
  margin-right: auto;
  padding-right: 10px;
  padding-top: 15px;
  cursor: pointer;
}
.mrc{
    border: 4px solid black;   
}
/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip2:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
}

/* Style the back side */
.flip-card-back {
  background-color: #ffe6f2;
  color: white;
  transform: rotateY(180deg);

}
.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }
  
  /* This container is needed to position the front and back side */
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side (fallback if image is missing) */
  .flip-card-front {
    background-color: #bbb;
    color: black;
  }
  
  /* Style the back side */
  .flip-card-back {
    background-color: #ffe6f2;
    color: white;
    transform: rotateY(180deg);
    font-family: "inria Serif", serif;
    font-size: 13px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    font-style: italic;
    line-break: 5px;
    text-align: center;
  }
  .announcement{
    background-color: #ffe6f2;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    font-style: italic;
    margin-top: 50px;
    font-size: 20px;
}
.history{
    border: 4px solid black;   
}
#Announcement{
    margin-top: 35px;
}
section{
    /*background-color:white;*/
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    margin-top: -30px;
}
#subheader{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container1{
  position: relative;
  width: 50%;
  max-width: 300px;
  flex: 2;
  order: 1;
  cursor: pointer;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: #f28ddc;
  /*background: #f28ddc;;*/
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 20px;
  padding: 40px;
  text-align: center;
  text-transform: capitalize;
}

/* When you mouse over the container, fade in the overlay title */
.container1:hover .overlay {
  opacity: 1;
}

* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container2{
    position: relative;
    width: 50%;
    max-width: 300px;
    flex: 2;
    order: 3;
    cursor: pointer;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 30%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container2:hover .overlay {
  opacity: 1;
}
#subheader2{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container3{
  position: relative;
  width: 50%;
  max-width: 300px;
  flex: 2;
  order: 1;
  cursor: pointer;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 100%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: #f28ddc;
  /*background: #f28ddc;;*/
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: black;
  font-size: 20px;
  padding: 40px;
  text-align: center;
  text-transform: capitalize;
}

/* When you mouse over the container, fade in the overlay title */
.container3:hover .overlay {
  opacity: 1;
}
* {box-sizing: border-box}

/* Container needed to position the overlay. Adjust the width as needed */
.container4{
    position: relative;
    width: 50%;
    max-width: 300px;
    flex: 2;
    order: 3;
    cursor: pointer;
}

/* Make the image to responsive */
.image {
  display: block;
  width: 30%;
  height: auto;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container4:hover .overlay {
  opacity: 1;
}
#subheader2{
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}
.overlay:hover{
    text-decoration: underline;
}
.btn {
    border: 2px solid black;
    background-color: white;
    color: black;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
  }
  
  
  .more {
    border-color:#f28ddc;
    color: black;
  }
  
  .more:hover {
    background-color: #f28ddc;
    color: white;
  }

  #navi-items{
    padding-top: 18px;
  }
  #nav{
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      /* padding: 1rem 2rem; */
      z-index: 100;
      overflow: hidden;
      font-family: "Poppins", sans-serif;
      background-color: #b30059;
      
  }
  .navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    /* padding-top: 10px; */
    margin-bottom: 5px;
    text-decoration: none;
    margin-bottom: 0;
    padding-bottom: 8px;
    font-weight: 500;
  }
  #asmalogonav{
    width:65px; 
    height:65px;
    /* padding: 0; */
    /* margin: 0; */
  }
  
  .dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropbtn:hover{
    color: black;
    /* padding: 2px; */
    border-bottom-style: solid;
    border-bottom-color: #9d6262;
  }
  
  .navbar a:hover, .dropdown:hover .dropbtn {
    /* background-color: #f38ccd; */
    border-bottom-style: solid;
    border-bottom-color: #9d6262;
    color: black;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #b30059;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    color: black;
    display: none;
    position: fixed;
    /* min-width: 160px; */
    /* box-shadow: 0px 8px 16px 0px rgba(120,150,120,0.2); */
    /* z-index: 1; */
  }
  
  .dropdown-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    margin-top: 40px;
  }

  footer{
    font-family: "Poppins", sans-serif;
    background-color:#b30059;
    padding: 10px;
    text-align: center;
    color: white;
  }
  footer h3{
    padding-bottom: 10px;
    font-weight: 500;
  }
  footer p{
    padding-top: 10px;
    font-weight: 500;
    padding-bottom: 0;
  }
  
  .socmedlogo {
    width: 30px;
    height: 30px;
    padding: 3px;
}